<div class="grid-container">
  <div class="grid-50">
    
    <%= render 'sessions/log_in' %>

    <%= render 'sessions/checkout_as_guest' %>

  </div>

  <div class="grid-50">
    <h1>Sign Up</h1>
    <%= render 'users/form', locals: { user: @user } %>
  </div>
</div>

<% content_for :title do %>
  Sign Up or Log In
<% end %>
