<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for ordering from OnoBurrito, <%= @user.full_name %>!</h1>
    <p>Thanks for ordering and have a great day! Enjoy your farm-to-table burrito!</p>
  </body>
</html>