<div class="grid-container">
  <div class="grid-100">
    <h1 id="account-summary">Welcome to Bank Buddy</h1>
  </div>

  <div class="grid-100">
  </div>
</div>


<% content_for :title do %>
  Bank Buddy
<% end %> 
