<div class="grid-container">
  <div class="grid-100">
    <h1 id="edit-your-account">Edit Your Account Info</h1>
    <%= render 'users/form' %>
  </div>



  <div class="grid-100">
    <%= render 'orders/order_history' %>
  </div>
</div>


<% content_for :title do %>
  Your Account
<% end %> 
