<h1> Orders</h1>
<% @orders.each do |order| %>
  <ul>
    <li><%= order.status %></li>
    <li><%= order.user_id %></li>
  </ul>
<%end%>

<% content_for :title do %>
  Order
<% end %>

<% content_for :sidebar do %>
  <section id="your_order">
    <header><h1>Your Order</h1></header>
    <ul>
       <!-- render @user.order  -->
    </ul>
  </section>
<% end %>
