<section id="current_order" class="grid-container">
  <h2 class="grid-100">Your current order </h2>
  <%= render partial: 'order', 
    locals: {items: @order.items, order_items: nil } %>
</section>

<section id="shop_more" class="grid-container">
  <h2>Add more items to your cart</h3>
    <% Item.all.each do |item| %>
      <%= render partial: 'items/item', locals: {item: item } %>
    <% end %>
</section>


<% content_for :title do %>
  Order
<% end %>
