<ul id="menu_list">
  <% @order_items.each do |item| %>
    
    <li id="menu_item">
      <header>
        <h2><%= item.title %></h2>
      </header>
      <section>
        <ul>
          <li><%= item.description %></li>
          <li><%= number_to_currency(item.price) %></li>
          <li><%= item.photo %></li>
          <a href="#">Remove</a>
        </ul>
      </li>
  <%end%>
</ul>


<% content_for :title do %>
  Order
<% end %>
