<section id="current_order" class="grid-container">
  <% if items_in_cart? %>
    <h2 class="grid-100">Your current order </h2>
    <%= render partial: 'order', 
      locals: {items: @order.items, order_items: @order.order_items } %>
  <% end %>
</section>

<section id="shop_more" class="grid-container">
  <div class="grid-100">
    <h2>Fill Your Bag</h2>
  </div>
  
  <%= render partial: 'items/item', collection: @items %>
</section>
