<% cache @restaurants do %>
  <section class="grid-container">
    <h1>Listing restaurants</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'restaurants/restaurant', collection: @restaurants %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Restaurant', new_restaurant_path %>
  </section>
<% end %>
