<header>
  <h2><%= item.title %></h2>
</header>
<section>
  <div class="list-item"><%= image_tag item.photo %></div>
  <p class="list-item"><%= item.description %></p>
  <p class="list-item"><%= number_to_currency(item.price) %></p>   
</section>
