<header id="body-header" class="grid-container">
  <h1>What's On the Menu At Ono</h1>
</header>

<section id="featured" class="grid-container">
  <%= image_tag("splash_burrito.jpg", class:"splash-burrito") %>
</section>

<section id="other-products" class="grid-container">
  <% @categories = Category.all %>
  <h2> Categories: </h2>
  <%= div_for(@categories) do |category| %>
    <p><%= category.title %></p>
  <% end %>
</section>

<% content_for :title do %>
  Items
<% end %>


