<div id="view_order" class="grid-container">
  <div class="grid-100">
    <% if cart_filled? %>
      <%= link_to "View Your Order", order_path(current_order.id), class: "" %>
    <% end %>
  </div>
</div>

<%= render 'header' %>

<section id="" class="grid-container">
  <% @items.each do |item| %>
    <% unless item.retired %>
      <%= render partial: 'items/item', locals: {item: item } %>
    <% end %>
  <% end %>
</section>


<% content_for :title do %>
  Items
<% end %>


