<header id="body_header">
  <h1>Items</h1>
</header>

<ul id="menu_list">
  <% @items.each do |item| %>
    
    <li id="menu_item">
      <header>
        <h2><%= item.title %></h2>
      </header>
      <section>
        <ul>
          <li><%= item.description %></li>
          <li><%= item.price %></li>
          <li><%= item.photo %></li>
        </ul>
      </li>
  <%end%>
</ul>

<% content_for :title do %>
  Items
<% end %>


