<h1>Items</h1>
  <% @items.each do |item| %>
    <ul>
      <li><%= item.title %> </li>
      <li><%= item.description %></li>
      <li><%= item.price %></li>
      <li><%= item.photo %></li>
      <a href="#">Add to Cart</a>
    </ul>
<%end%>
