<header id="body-header" class="grid-container">
  <div id="menu_greeting" class="grid-50">
    <h1>What's On the Menu At Ono</h1>
  </div>
  <section id="other-products" class="grid-50">
    <% @categories = Category.all %>
    <%= div_for(@categories) do |category| %>
      <p><%= category.title %></p>
    <% end %>
  </section>
</header>

<section id="" class="grid-container">
  <% Item.all.each do |item| %>
    <%= render partial: 'items/item', locals: {item: item } %>
  <% end %>
</section>


<% content_for :title do %>
  Items
<% end %>


