.footer-item {
  display: inline-block;
}

.footer-item a {
  font-size: 0.8em;
  text-decoration: none;
}

.list-item {
  list-style-type: none;
  list-style-position: inside;
  text-decoration: none;
}