.footer-item {
  display: inline-block;
}

.footer-item a {
  font-size: 0.8em;
  text-decoration: none;
  margin-right: 20px;
  color: black;
}

.footer-item a:hover {
  text-decoration: underline; 
  color: rgb(0, 112, 127);
}

.list-item {
  list-style-type: none;
  list-style-position: inside;
  text-decoration: none;
}

#copyright {
  font-size: 0.6em;
  color: black;
}