// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.2em;
}