body {
  background-color: rgb(233, 237, 235);
  color: rgb(119, 119, 119);
  font-family: 'Sintony', sans-serif;
}

.grid-container {
  background-color: rgb(255, 255, 255);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
} 

#logo-image{
  padding: 0;
  display: block;
  height: 30%;
  width: 30%
}

.map {
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: 'Podkova', serif;
  font-weight: bold;
}

h1 {
  margin: 0;
}

.button {
  font-size: 1.2em;
  display: inline-block;
  margin: 0 0 10px 0;
  background-color: rgb(3, 166, 120);
}

.button-small {
  display: block;
  margin: 5px 0;
}

.splash-burrito {
  align: center;
}

#page_header {
  margin-bottom: 0px;
}

#body-header {
  padding: 10px;
  margin-bottom: 0px;
}

#flash-section {
  background-color: rgb(244, 70, 71);
  color: rgb(249, 249, 249);
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

.view-order-link {
  font-size: 2em;
  text-decoration: none;
  font-family: 'Podkova', serif;
}

.view-order-link:hover {
  text-decoration: none;
  color: rgb(244, 70, 71);
}

#view_order {
  padding: 0.5% 1%;
}

#header-container {
  padding: 0;
}
