body {
  background-color: rgb(249, 249, 249);
  font-family: 'Sintony', sans-serif;
}

.grid-container {
  background-color: rgb(233, 237, 235);
}

#page_header {
  height: 230px;
  margin-bottom: 10px;
}

#user_nav,
.nav_item {
  display: inline;
  padding: 0;
  margin: 0;
}

.nav_item a,
#user_nav a {
  font-size: 0.8em;
  text-decoration: none;
  margin: 5px;
}

.footer_item {
  display: inline-block;
}

.footer_item a {
  font-size: 0.8em;
  text-decoration: none;
}

.list_item {
  list-style-type: none;
  list-style-position: inside;
  text-decoration: none;
}
