#user-nav,
.nav-item {
  display: block;
  padding: 0;
  margin: 0;
}

.nav-item a,
#user-nav a {
  font-size: 0.8em;
  text-decoration: none;
  margin-bottom: 5px;
}

.main-nav-container {
  margin-top: 500px;
}

#user-nav {
  margin-top: 12%;
  text-align: right;
  font-size: 0.8em;
}