#transaction-container {
  margin: 2% 0;
}

.transaction-label,
.transaction-form {
  padding: 5% 5% 0 0;
}


#transaction-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: rgb(3, 166, 120);
  font-size: 1.2em;
  color: rgb(249, 249, 249);
  border: none;
}

#transaction-details {
  margin-right: 3%;
}