<div class="grid-container">
  <h2>Come visit our flagship location in Denver</h2>

  <iframe class="map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=galvanize+denver&amp;aq=&amp;sll=39.764339,-104.855111&amp;sspn=0.380551,0.727158&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=39.733535,-104.992828&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=galvanize+denver&amp;aq=&amp;sll=39.764339,-104.855111&amp;sspn=0.380551,0.727158&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=39.733535,-104.992828&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A" style="color:#0000FF;margin-left:10px;">View Larger Map</a></small>

  <% content_for :title do %>
    Locations
  <% end %>
</div>
