<footer class="panel">
  <hr />
  <ul>
    <li><%= link_to "Contact", "" %></li>
    <li><%= link_to "Help", ""%></li>
    <li><%= link_to "File A Bug", ""%></li>
  </ul>
  <p>&copy; 2013 Ono Burrito Co. All Rights Reserved. </p>
</footer>