<hr />

<div class="grid-70"
  <ul>
    <li class="footer-item"><%= link_to "Contact", "" %></li>
    <li class="footer-item"><%= link_to "Help", ""%></li>
    <li class="footer-item"><%= link_to "File A Bug", ""%></li>
  </ul>
</div>

<div class="grid-30">
  <p id="copyright" class="copy">&copy; 2013 Ono Burrito Co. All Rights Reserved. </p>
</div>

