<div class="grid-container">
  <%= render "users/user_nav" %>

  <div class="grid-80" id="logo">
    <h1><%= link_to "Ono Burrito", root_path, id:"logo-text" %></h1>
  </div>

  <div class="grid-20" class="main-nav-container" style: >
    <div id="order-link" class="nav-item">
      <%= navbar_order_link %>
    </div>
  </div>

</div>