  <div class="grid-100">
    <ul class="nav-list">
      <li class="nav-item"><%= link_to "Menu", menu_path %></li>
      <li class="nav-item"><%= link_to "Locations", locations_path %></li>
      <li class="nav-item"><%= link_to "Contact", new_restaurant_contact_path(@restaurant.slug) %></li>
    </ul>
  </div>
