<div class="grid-100 main-nav-container">
  <ul>
    <li class="nav-item"><%= link_to "Menu", items_path%></li>
    <li class="nav-item"><%= link_to "Locations", locations_path %></li>
    <li class="nav-item"><%= link_to "Contact", new_contact_path %></li>
  </ul>
</div>