<div class="grid-40" id="main-nav-container">
  <ul>
    <li class="nav-item"><%= link_to "Menu", items_path%></li>
    <li class="nav-item"><%= link_to "Locations", locations_path %></li>
    <li class="nav-item"><%= link_to "Contact", new_contact_path %></li>   
    <li class="nav-item"><%= navbar_order_link %></li>    
  </ul>
</div>