<div class="grid-40">
  <ul id="nav_list">
    <li class="nav_item"><%= link_to "Menu", items_path%></li>
    <li class="nav_item"><%= link_to "Locations", locations_path %></li>
    <li class="nav_item"><%= link_to "Contact", new_contact_path %></li>   
    <li class="nav_item"><%= navbar_order_link %></li>     
  </ul>
</div>