<div id="view_order" class="grid-container">
  <div class="grid-100 toggle-order">
    <%= link_to "View Your Order", order_path(current_order.id), class: "view-order-link" %>
    <div class="order-header hidden">
	    <h1 id="your-current-order">Your Current Order </h1>
	 	<a href="#" class="hide-order">Close</a>
	 </div>
    <span class="order-total">
    	<%= current_order.total %>
    </span>
  </div>
  <section id="current_order" class="grid-container hidden"> 
        <%= render partial: 'orders/order', locals: {:order => current_order} %>
   </section>
</div>
